{% extends "base.html" %}

{% block main %}
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
            <nav>
                <li>
                    <a href="{% url 'category_list' %}">Expense List</a>
                </li>
            </nav>
        </main>
{% endblock main %}
